body{
  background-color: #;
}

h1{
  color: #B762C1;
}
h2{
  color: #B762C1;
}
h3{
  color: #B762C1;
}
h4{
  color: #B762C1;
}
em{
  color: #B762C1;
}




hr {
background-color: white;
border-style: none;
border-top-style: dotted;
border-color: greey;
border-width: 3px;
width: 2%;
}
